
@{
    ViewData["Title"] = "修改员工";
}
@model Employees
<!-- 新建 -->
<div class="box box-warning">
    <div class="box-header with-border">
        <i class="fa fa-users  text-warning"></i>
        <h3 class="box-title">修改员工</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form id="EditCustomerFrom">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">员工姓名</label>
                        <input type="text" class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="请输入姓名...">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">电话号码</label>
                        <input type="text" class="form-control" id="Phone" value="@Model.Phone" name="Phone" placeholder="请输入电话号码...">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">密码</label>
                        <input type="text" class="form-control" id="Email" value="@Model.Password" name="Password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="text" class="form-control" id="Email" value="@Model.Email" name="Email" placeholder="请输入客户邮箱...">
                    </div>
                </div>


            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputFile">员工头像</label>
                        <input type="file" id="UploadFile" name="UploadFile">
                    </div>
                </div>

                <div class="col-md-4">
                    <img id="LogoImage" src="@Model.HeadImage" alt="选中的头像" style="height:150px" class="img-responsive" />
                </div>
            </div>

        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="button" onclick="PostCustomer()" class="btn btn-primary">提交</button>
        </div>
    </form>
</div><!-- 新建 -->

@section Scripts{





    <script>


        //——————————————————员工修改——————————————————————————————————————
        //当你在iframe页面关闭自身时
        var index4 = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

        //创建员工
        function PostCustomer() {
            var id = '@Model.ID';
            //获取表单数据
            var formdata = new FormData($("#EditCustomerFrom")[0]);
            var index = layer.load();
            var token = $.cookie("token");
            //创建员工
            $.ajax({
                url: baseUrl + '/api/employees/edit?id='+id,
                type: 'post',
                contentType: false,
                cache: false,
                processData: false,
                data: formdata,
                headers: { "Authorization": "Bearer " + token },
                success: function (res) {
                    layer.close(index);
                    layer.msg("修改成功！", { icon: 1 }, function () {

                        layer.confirm("需要关闭界面吗？", { icon: 3 }, function (index2) {

                            parent.layer.close(index4); //再执行关闭

                            layer.close(index2);
                        });



                    });

                }

            }).fail(function () {
                layer.close(index);

            })

        } //创建员工






        $(function () { //页面加载更改class
            $("#LayoutBody").addClass("sidebar-collapse");
            //sidebar-mini skin-black
        })
        //—————————————图片改变事件———————————————————————————————————————————



        $("#UploadFile").change(function () {
            var reader = new FileReader();//创建一个读流

            var file = $("#UploadFile")[0].files[0];//获取选中文件

            reader.readAsDataURL(file);//读文件


            reader.onload = function (e) {//读事件
                $("#LogoImage").attr('src', e.target.result);
                //$("#UserImg").attr('src', e.target.result)

            };

        });
    </script>
}
